.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*app*/
.Container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ButtonBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 20px 0px 0px
}


/*input*/
.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.inputBox button {
    margin: 10px;
}

/*display class*/
.DisplayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;  
    width: 100%;
    margin: 2rem;
    border-width: 0.1rem;
    border-color: #000;
    border-style: ridge;
    border-radius: 6px;
    text-align:left;
}

.DisplayBox h3{
    margin-top: 3px;
    margin-bottom:5px;
    font-size: 15px;
}

.DisplayBox p{
    margin: 0;
    font-size: 14px;
    font-weight:500;
    margin-bottom:5px;
}


